.navbar-color{
    background-color:#000000;
}
.navbar-custom{
    padding:10px 0px 10px 0px;
}

.menu-custom{
    color:#275070 ;
    font-family: 'Alfa Slab One',cursive;
}
.menu-custom:hover{
    color:white;
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #000000;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    margin-top: 100px; 
    
   }
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.font-custom{
    font-family: 'Alfa Slab One',cursive;  
}
.address-custom{
    font-size: 15px;
    color: whitesmoke;
}
.footer-header{
    color:#B7AC44;
}
.footer-link-custom{
    font-size: 20px;
    color:#275070;
    text-decoration: none;
}
.footer-link-custom:hover{
    color:white;
}
.leader-media-img{
    border:1px solid black;
    border-radius: 100%;
}
.comment-header-custom{
    color:#DE1E24;
    font-size: 28px;
    background-color:#000000 ;
    padding:8px 6px 8px 8px;
    text-align: center;
}
.copy-right-custom{
   color: #B7AC44
}
.comment-custom{
    border:1px solid black;
    margin-top: 4px;
    color: whitesmoke;
}
.btn-custom{
    padding: 0px 10px 0px 10px;
}
.qoutes-header{
    background-color:#5eaaa8;
    text-align:center;
}
.jumbo-header{
    font-family: 'Alfa Slab One',cursive;
}
.jumbo-body-color{
    color: #90ADC6;
}
.order-btn{
    padding:20;
}

