.navbar-color{
    background-color:#000000;
}
.menu-custom{
    color:#DE1E24 ;
}
.menu-custom:hover{
    color:white;
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #000000;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.font-custom{
    font-family: 'Alfa Slab One';  
}
.address-custom{
    font-size: 15px;
    color: #DE1E24;
}
.footer-header{
    color:red;
}
.footer-link-custom{
    font-size: 20px;
    color:#DE1E24;
    text-decoration: none;
}
.footer-link-custom:hover{
    color:white;
}
.leader-media-img{
    border:1px solid black;
    border-radius: 100%;
}
.comment-header-custom{
    color:#DE1E24;
    font-size: 28px;
    background-color:#000000 ;
    padding:8px 6px 8px 8px;
    text-align: center;
}
.copy-right-custom{
   color: #DE1E24
}
.comment-custom{
    border:1px solid black;
    margin-top: 4px;
    color: whitesmoke;
}
.home-custome{
    
}

